.media {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    padding: 1rem;
    margin: 1rem;
    transition: 1s;
    width: 20vw;
}
.media:hover {
    transform: scale(1.2);
    z-index: 2;
}
.poster {
    width:100%;
    padding-bottom: 5px;
    cursor: pointer;
}
.title{
    color: white;
    padding:5px 0;
    font-size: 12px;
    cursor: pointer;
}
.subtitle{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
@media screen and (max-width:660px) {
    .media {
        width: 30vw;
    }
    .title {
        font-size: 10px;
    }
    .subtitle {
        font-size: 10px;
    }
}
@media screen and (max-width:500px) {
    .media {
        width: 35vw;
    }
    .title {
        padding: 2px 0;
        font-weight: 200;
    }
}
@media screen and (max-width:300px) {
    .media {
        width: 100vw;
    }
    .title {
        font-size: 12px;
    }
    .subtitle {
        font-size: 12px;
    }
}