.media {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    padding: 1rem;
    margin: 1rem;
    transition: 1s;
    width: 22vw;
}
.media:hover {
    transform: scale(1.2);
    z-index: 2;
}
.poster {
    width:100%;
    cursor: pointer;
}
.title{
    color: white;
    padding:5px 0;
    font-size: 12px;
    cursor: pointer;
}
.subtitle{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
@media screen and (max-width:1050px) {
    .media {
        width: 25vw;
    }
    .title {
        font-size: 15px;
    }
    .subtitle {
        font-size: 15px;
    }
}
@media screen and (max-width:660px) {
    .media {
        width: 40vw;
        margin: 0;
    }
}
@media screen and (max-width:500px) {
    .media {
        width: 40vw;
    }
    .title {
        padding: 5px 0;
        font-weight:600;
    }
    .subtitle {
        font-size: 10px;
    }
}
@media screen and (max-width:350px) {
    .media {
        width: 50vw;
    }
}
@media screen and (max-width:280px) {
    .media {
        width: 100vw;
    }
}