.gradient__text {
        /* ff 3.6+ */
        background:-moz-linear-gradient(90deg, #F18615 0%, #E45642 100%); 

        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(90deg, #F18615 0%, #E45642 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(90deg, #F18615 0%, #E45642 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E45642', endColorstr='#F18615', GradientType=0 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(90deg, #F18615 0%, #E45642 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(90deg, #F18615 0%, #E45642 100%);
}